* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#navbar-logo {
  font-family: 'Odibee Sans', cursive;
  font-size: 3rem;
  color: rgb(219, 219, 219);
  cursor: pointer;
}

a{
  text-decoration: none;
  outline: none;
  color: rgb(219, 219, 219);
}

.navbar-links, .navbar-menu {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
  color: rgb(219, 219, 219);
}

.nav-container {
  display: flex;
  justify-content: center;
  background-color: rgb(46, 46, 46);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  width: 90%;
  max-width: 1720px;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  width: auto;
  transition: 0.3s;
}

li {
  margin-right: 20px;
}

a:hover {
  color: rgb(250, 250, 250);
  transition: 0.3s;
  border-bottom: 1px solid rgb(250, 250, 250);
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  margin-top: 5px;
  transition: 0.3s;
}


#banner {
  background: linear-gradient(rgba(0, 0, 0, 0), black), url('../imgs/clem-onojeghuo-8soQzdz9XXA-unsplash.jpg');
  width: 100%;
  height: 90vh;
  margin-top: 80px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner-content {
  position: absolute;
  bottom: 10rem;
  padding: 5rem;
  color: white;
  font-size: 3.7rem;
  line-height: 8rem;
  max-width: 80%;
  z-index: 1;
}

#btn-content {
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  background: linear-gradient(rgb(32, 32, 32), rgb(39, 39, 39));
  outline: none;
  border: 0;
  color: whitesmoke;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-container {
  display: flex;
  align-items: center;
}

.seta { 
  font-size: 3rem;
  margin-left: 15px;
  animation: seta 1.5s infinite;
}


section {
  min-height: 90vh;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
}

#sobre {
  background-color: whitesmoke;
}

.titulo {
  font-size: 4rem;
  padding-top: 3rem;
  border-bottom: solid 6px #6a3093;
  display: inline-block;
  color: rgb(49, 49, 49);
}

.sobre-content {
  display: flex;
}

.sobre-content img {
  width: 25rem;
  height: auto;
  border-radius: 5px;
  margin-top: 5rem;
}

.text-content {
  width: 60%;
  margin-top: 2rem;
  color: rgb(78, 78, 78);
  text-align: left;
  padding: 5rem;
  font-size: 1.6rem;
}

.link, .realce {
  text-decoration-line: underline;
  color: black;
}

.link {
  cursor: pointer;
}

#galeria {
  background: linear-gradient(whitesmoke, rgb(131, 131, 131));
  min-height: 120vh;
}

.text-galeria {
  text-align: center;
  width: auto;
  margin: 0;
  padding-top: 2rem;
}

.pictures{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.pictures img {
  background-position: center;
  background-size: cover;
  object-fit: cover;
  cursor: pointer;
  margin-top: 1.5rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.466);
  border-radius: 8px;
  width: 20rem;
  height: 20rem;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.404);
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.fullImg {
  margin-top: 6rem;
  height: 700px;
  width: 700px;
  border-radius: 20px;
  object-fit: cover;
  background: whitesmoke;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-container.open {
  opacity: 1;
  pointer-events: auto;
}


.frase-foto {
  background: whitesmoke;
  width: 700px;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.parte1 {
  display: flex;
}

.parte2 {
  display: flex;
  flex-direction: row-reverse;
}

.parte1, .parte2 {
  padding-top:5rem;
}

#orcamento {
  text-align: center;
  padding: 0 5rem;
  background: linear-gradient(rgb(226, 226, 226), whitesmoke);
}

.num {
  font-size: 4rem;
  background-color: rgb(175, 175, 175);
  color: rgb(39, 39, 39);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.text-contato {
  text-align: center;
  width: 100%;
  padding-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}

input, textarea, button {
  margin-top: 1.4rem;
  width: 60%;
  text-align: center;
  height: 2rem;
  font-size: 1.2rem;
  outline: none;
}

textarea {
  height: 10rem;
}

button {
  background: linear-gradient(rgb(27, 21, 82), rgb(48, 45, 92));
  color: rgb(226, 226, 226);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.wpp, .text-wpp {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  margin-top: 0rem;
}

.text-wpp {
  display: flex;
  align-items: center;
}

.wpp-btn {
  background: rgb(47, 47, 47);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: 3px solid rgb(47, 47, 47);
  transition: 0.2s;
}

.insta {
  background: linear-gradient(to right, rgba(128, 0, 128, 0.87), rgba(0, 0, 255, 0.726), rgba(255, 166, 0, 0.692));
}

.insta:hover {
  background: whitesmoke;
}

.wpp-btn:hover {
  background-color: whitesmoke;
  color: rgb(47, 47, 47);
}

.text-feed {
  padding-top: 0;
  text-align: center;
  width: 100%;
}

#feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: auto;
}

.rating img {
  width: 5rem;
  height: 5rem;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating small {
  color: rgb(116, 116, 116);
}

.rating:hover, .rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px black;
}

.rating:hover small, .rating.active small {
  color: rgb(46, 46, 46);
}

.painel-container {
  width: 60%;
  background-color: white;
  box-shadow: 0 0 10px black;
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.painel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.send {
  background-color: #302b2b;
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}

footer {
  height: 6rem;
  font-size: 1.2rem;
  margin-top: 6rem;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background: linear-gradient(rgb(39, 39, 39), rgb(26, 26, 26));
  padding: 10px;
}

@keyframes seta{
  0%{
    transform: translateX(-10px);
  }
  50%{
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@media screen and (max-width: 1000px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
  }

  .banner-content {
    font-size: 3rem;
    line-height: 5rem;
  }

  #orcamento {
    text-align: center;
    padding: 0 3rem;
  }

  .pictures{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .sobre-content {
    flex-direction: column;
    align-items: center;
  }

  .sobre-content img {
    width: 15rem;
    height: auto;
    text-align: center;
  }

  .text-content {
    padding: 0;
  }
  .painel-container {
    margin-top:30px;
  }
  .navbar-menu {
    flex-direction: column;
   background-color: rgb(46, 46, 46);
   height: auto;
   line-height: 60px;
   position: absolute;
   align-items: center;
   top: 80px;
   left: -100%;
   opacity: 0;
   width: 100%;
  }
  .fullImg {
    height: 500px;
    width: 500px;
  }
  .frase-foto{
    width: 500px;
  }
  li {
    margin-right: 0;
  }

  .navbar-menu.active {
    background-color: rgb(46, 46, 46);
    left: 0;
    opacity: 1;
    transition: 0.3s;
    z-index: 999;
  }

  .menu-toggle .bar {
    display: block;
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    cursor: pointer;
    z-index: 999;
  }

  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  form {
    padding-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .pictures{
    grid-template-columns: repeat(1, 1fr);
  }
  .rating {
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rating img {
    width: 3rem;
    height: auto;
  }
  .banner-content {
    font-size: 2rem;
  }
  .fullImg {
    height: 400px;
    width: 400px;
  }
  .frase-foto{
    width: 400px;
  }
  footer {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 510px){
  .banner-content {
    font-size: 1.5rem;
    padding: 0 15px;
  }
  .titulo{
    font-size: 2.6rem;
  }
  .text-content {
    width: 100%;
  }
  .pictures img{
    width: 14rem;
    height: 14rem;
  }
  .text-galeria {
    width: 100%;
  }
  .text-contato {
    margin: 0;
    text-align: center;
  }
  .text-content {
    padding-top: .8rem;
    font-size: 1.4rem;
  } 
  .painel-container{
    width: 80%;
  }
  .fullImg {
    height: 350px;
    width: 350px;
  }
  .frase-foto{
    width: 350px;
  }
  .titulo-orcamento{
    font-size: 2rem;
  }
}